<!-- src/app/features/homecomponent/homecomponent.component.html -->
<app-header></app-header>
<div class="max-w-4xl mx-auto p-6">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-semibold text-gray-800">Danh sách sinh viên</h2>
    <div class="flex items-center gap-3">
      <app-search
      (searchEmit)="onSearch($event)"
      ></app-search>
      <button (click)="showStudent()" class="text-white bg-indigo-600 hover:bg-indigo-700 px-4 py-2 rounded-md shadow-sm transition-colors font-medium">
        + Thêm sinh viên
      </button>
    </div>
  </div>
  <div class="overflow-x-auto bg-white shadow rounded-lg">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
      <tr>
        <th class="px-4 py-3 text-left text-sm font-medium text-gray-600">ID</th>
        <th (click)="sortByName()" class="px-4 py-3 text-left text-sm font-medium text-gray-600 cursor-pointer hover:bg-gray-100 transition-colors">
          Name
          @if (nameSort === null) {
            <i class="fa-solid fa-sort ml-1"></i>
          }
          @if (nameSort === 'asc') {
            <i class="fa-solid fa-arrow-up ml-1"></i>
          }
          @if (nameSort === 'desc') {
            <i class="fa-solid fa-arrow-down ml-1"></i>
          }
        </th>
        <th (click)="sortByGrade()" class="px-4 py-3 text-left text-sm font-medium text-gray-600 cursor-pointer hover:bg-gray-100 transition-colors">
          Grade
          @if (gradeSort === null) {
            <i class="fa-solid fa-sort ml-1"></i>
          }
          @if (gradeSort === 'asc') {
            <i class="fa-solid fa-arrow-up ml-1"></i>
          }
          @if (gradeSort === 'desc') {
            <i class="fa-solid fa-arrow-down ml-1"></i>
          }
        </th>
        <th class="px-4 py-3 text-left text-sm font-medium text-gray-600">Hành động </th>
      </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-100">
      @for(student of (sortedStudents | paginate: { itemsPerPage: 8, currentPage: p }); track student.id ){
        <tr>
          <td class="px-4 py-3 text-sm text-gray-700">{{student.id}}</td>
          <td class="px-4 py-3 text-sm text-gray-700">{{student.name}}</td>
          <td class="px-4 py-3 text-sm text-gray-700">{{student.grades}}</td>
          <td class="px-4 py-3">
            <button (click)="showStudent(student)" class="text-indigo-600 hover:text-indigo-800 mx-1 px-3 py-1 rounded-md bg-indigo-50 hover:bg-indigo-100">
              <i class="fa-solid fa-pen"></i>
            </button>
            <button (click)="deleteStudent(student)" class="text-red-600 hover:text-red-800 mx-1 px-3 py-1 rounded-md bg-red-50 hover:bg-red-100">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>



      }
      </tbody>
    </table>
  </div>

  <!-- Phân trang -->
  <div class="flex justify-center mt-6">
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel="Trước"
      nextLabel="Sau"
      screenReaderPaginationLabel="Phân trang"
      screenReaderPageLabel="trang"
      screenReaderCurrentLabel="Bạn đang ở trang">
    </pagination-controls>
  </div>

  @if (isUpdateForm || isAddingStudent) {
    <!-- Overlay làm mờ nền -->
    <div class="fixed inset-0 backdrop-blur-sm bg-black/30 z-40"></div>

    <!-- Popup nổi lên trên -->
    <div class="fixed inset-0 flex justify-center items-center z-50">
      <div class="bg-white rounded-xl shadow-xl p-6 w-[420px] relative">

        <app-update-student
          (closeModal)="closeUpdateForm()"
          [studentData]="selectedStudent"
          (updateStudentEmit)="updateStudent($event)"
          (newStudentEmit)="addStudent($event)"
        ></app-update-student>

        <!-- nút close -->
        <button class="absolute top-2 right-2 text-gray-500 hover:text-black text-xl"
                (click)="closeUpdateForm()">
          ✕
        </button>

      </div>
    </div>
  }

</div>
