  <form [formGroup]="formStudent" (ngSubmit)="onSubmit()">
        <label for="region" class="block text-xl font-medium text-gray-1200">{{action}}</label>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="region" class="block text-sm/6 font-medium text-gray-900">Name</label>
            <div class="mt-2">
              <input id="region" type="text" name="region" autocomplete="address-level1" formControlName="name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
              @if(formStudent.get('name')?.invalid && formStudent.get('name')?.touched) {
                <div class="text-red-600 mt-1 text-sm">Tên không hợp lệ.</div>
              }
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="postal-code" class="block text-sm/6 font-medium text-gray-900">Điểm Số</label>
            <div class="mt-2">
              <input id="postal-code" type="text" name="postal-code" autocomplete="postal-code" formControlName="grades" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
              @if (formStudent.get('grades')?.invalid && formStudent.get('grades')?.touched) {
                <div class="text-red-600 mt-1 text-sm">Điểm số không hợp lệ.</div>
              }
            </div>
          </div>
      </div>
    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button type="button" class="text-sm/6 font-semibold text-gray-900" (click)="closeUpdateForm()">Cancel</button>
      <button
        [disabled]="!formStudent.valid"
        [class.opacity-50]="!formStudent.valid"
        [class.cursor-not-allowed]="!formStudent.valid"
        type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
    </div>
  </form>



