.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6b7280;
  font-size: 18px;
  transition: color 0.2s;
  z-index: 10;

  &:hover {
    color: #374151;
  }

  //&:focus {
  //  outline: 2px solid #4f46e5;
  //  outline-offset: 2px;
  //  border-radius: 4px;
  //}
}

